# Virtual environment
trading_env/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output files
outputs/

# IDE-specific files
.vscode/

# Other unnecessary files
*.log
*.tmp
